main{
	height: 90vh;
	width: 100vw;
	display: flex;
	overflow-y: hidden;
	background: rgb(61,32,5);
	background: -moz-linear-gradient(90deg, rgba(61,32,5,1) 0%, rgba(255,130,19,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(61,32,5,1) 0%, rgba(255,130,19,1) 100%);
	background: linear-gradient(90deg, rgba(61,32,5,1) 0%, rgba(255,130,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d2005",endColorstr="#ff8213",GradientType=1);
}

header{
	background-color: #000;
}

svg{
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0vh;
	z-index: 1;
	opacity: 0.2;
}

.login{
	display: grid;
	grid-template-rows: 10% 20% 20% 20% 20% 10%;
	width: 30%;
	height: 90%;
	background-color: #000;	
	border-radius: 20px;
	margin: auto;
	position: relative;
	z-index: 1;
}

.login::after{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-image: url("../svg/background.svg");
	z-index: -1;
	opacity: 0.3;
}

.login-title{
	width: 100%;
	text-align: center;
	color: white;
}






.login-input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
	width: 60%;
	height: 50%;
	margin: auto;
}

.login-input:focus, .login-input:hover {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 5px 5px 25px #969696,
             -5px -5px 25px #ffffff;
}

p{
	color: white;
	margin: auto;
	width: fit-content;
	margin-top: auto;
	height: 100%;
	display: flex;
	align-items: end;
	padding: 0 2%;
	padding-bottom: 5%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border: 3px solid rgba(255,130,19,1);
	border-bottom: none;
	background-color: black;
	box-sizing: border-box;
	cursor: pointer;
}


.login-button{
	width: 70%;
	height: 40%;
	margin: auto;
	border-radius: 20px;
	border: 0;
	cursor: pointer;
	transition: 500ms;
	background-color: #ccc;
	padding: 1em;
}

.login-button:hover{
	transform: scale(1.1);
	background-color: white;
  transform: scale(1.05);
  box-shadow: 5px 5px 25px #969696,
             -5px -5px 25px #ffffff;
}


.container{
	background-color: #969696;
	height: 20%;
	box-sizing: border-box;
	align-items: center;	display: grid;
	width: 40%;
	margin: auto;
	grid-template-columns: 50% 50%;
	border: 2px solid white;
	border-radius: 20px;
	align-items: center;
}

#user{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 500ms;
	border-radius: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	cursor: pointer;
	border: 3px solid transparent;
}

#store{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 500ms;
	border-radius: 20px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	cursor: pointer;
	border: 3px solid transparent;
}

.label input{
	visibility: hidden;
	position: absolute;
}

.label:has(input:checked){
	background-color: white;
	border-radius: 20px;
}

